<mat-card>
    <h1>Add New Category</h1>
    <!-- {{category|json}} -->
    <mat-card-content>

        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="formSubmit()">

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input type="text" 
                            required
                            name="title" id="" matInput placeholder="Enter here"
                            [(ngModel)]="category.title"
                            />
                        </mat-form-field>

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea name="description" id="" matInput 
                            placeholder="Enter Category Description"
                            rows="10"
                            [(ngModel)]="category.description"
                            >
                                </textarea>
                        </mat-form-field>

                        <div class="conatiner text-center mt15">
                            <button mat-raised-button color="primary">Add</button>
                        </div>
            
                    </form>
                </div>

            </div>
        </div>
    </mat-card-content>
</mat-card>
